.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.read_more {
  background: lightgray;
}

.post_container {
  background-color: whitesmoke;
  width: 90%;
  margin: auto;
}

.reply_container {
  background-color: linen;
  width: 90%;
  margin: auto;
}
nav {
  background-color: linen;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

footer {
  margin-top: 1em;
  background-color: linen;
  padding: 1em;
}

.forum_box {
  background-color: whitesmoke;
  padding: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
